[uwsgi]
plugins      = python34
chdir        = {{ root }}
home         = {{ venv }}
pythonpath   = {{ root }}
module       = boot.wsgi
pidfile      = {{ pid }}
vacuum       = True
env          = DJANGO_SETTINGS_MODULE=project.settings

master       = true
master-fifo  = {{ fifo }}
processes    = 2

{% if target == 'development' %}
http         = 127.0.0.1:8000
{% else %}
# Run in the background
daemonize    = {{ root }}/var/log/uwsgi.log
# Use unix socket
socket       = {{ sock }}
chown-socket = {{ user }}:{{ group }}
chmod-socket = 664
{% endif %}
