<!DOCTYPE html>
<html lang="en">

<head>
  <title>Explore data (early draft)</title>
  <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-1.0.2.min.css" type="text/css">
  <style>
    home, body { background-color: white }
  </style>
</head>

<body>
  <form action="." method="get">
    {{ view.form }}
    <input type="submit" value="Show">
  </form>

  <br>

  {% if view.show_plot %}
    Plot {{ view.frames_count }} values from {{ view.since }} to {{ view.until }} (UTC times)

    {{ view.div | safe }}
    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-1.0.2.min.js"></script>
    {{ view.script | safe }}
  {% endif %}
</body>

</html>
