#
# See roles/django/defaults/main.yml for the available options
#

- name: "Development"
  hosts: "development"
  vars_files:
  - "vars.yml"
  roles:
  - role              : "jdavid.django"
    django_debug      : true
    django_pull       : false
    django_with_monit : false

#   django_database   :
#     engine          : "postgres"
#     name            : ""
#     user            : ""
#     password        : ""

    django_server     :
      port            : 8000

    supervisor:
      daemon          : false
