Django==4.1.1
django-sendfile2==0.7.0
django-vite==2.0.2
gunicorn==20.1.0
python-dotenv==0.21.0
strawberry-graphql-django==0.5.1
uvicorn==0.18.3

{% if django_database.engine == 'postgres' %}
psycopg2-binary==2.9.3
{% endif %}

{% if django_cache.backend == 'memcached' %}
pymemcache==3.5.2
{% endif %}

# Project
celery==4.3.1
clickhouse-driver[lz4]==0.2.4
django-admin-rangefilter==0.8.8
django-filter==22.1
djangorestframework==3.13.1
djangorestframework-api-key==2.2.0
drf-spectacular==0.23.1
pycryptodome==3.15.0
tabulate==0.8.10
tqdm==4.64.1

# Celery Once
celery_once==3.0.1
six==1.16.0

# Tests
pytest-django==4.5.2
