Django==4.0.3
django-sendfile2==0.6.1
django-vite==1.4.0
Pillow==9.0.1
strawberry-graphql-django==0.2.5
uWSGI==2.0.20

{% if django_database.engine == 'postgres' %}
psycopg2==2.9.1
{% endif %}

{% if django_cache.backend == 'memcached' %}
pymemcache==3.5.0
{% endif %}
