Django==4.0
git+https://github.com/moggers87/django-sendfile2@6145876dae2ffb838a249a0090fc20897b868981#django-sendfile2
django-vite==1.2.1
ipython==7.30.1
Pillow==8.4.0
uWSGI==2.0.20

{% if django_database.engine == 'postgres' %}
psycopg2==2.9.1
{% endif %}

{% if django_cache.backend == 'memcached' %}
pymemcache==3.5.0
{% endif %}
