server {
    listen 80;
    server_name {{ domain }};
    charset utf-8;

    error_log /var/log/nginx/{{ name }}_error_log;
    access_log /var/log/nginx/{{ name }}_access_log;

    location /media {
        alias {{ root }}/var/media;
    }

    location /static {
        alias {{ root }}/var/static;
    }

    location / {
        include /etc/nginx/uwsgi_params;
        uwsgi_pass unix:{{ socket }};
    }
}
